{% load static %}
<header class="p-3 text-bg-dark border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'logo.svg' %}" role="img" class="bi me-2" width="80" height="64">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'products' %}" class="nav-link px-3 text-warning"><p class="h4">Products</p></a></li>
                <li><a href="{% url 'orders' %}" class="nav-link px-3 text-white"><p class="h4">Orders</p></a></li>
                <li><a href="{% url 'manage_orders' %}" class="nav-link px-3 text-white"><p class="h4">Manage orders</p></a></li>
                <li><a href="{% url 'manage_employees' %}" class="nav-link px-3 text-white"><p class="h4">Manage employees</p></a></li>
                <li><a href="{% url 'manage_categories' %}" class="nav-link px-3 text-white"><p class="h4">Manage categories</p></a></li>
            </ul>
            <div class="text-end">
                <!-- Authentication Links -->
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle" style="font-size: 48px;"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-warning">Sign-up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
