<div class="modal fade" id="deleteProductModal{{ product.id }}" tabindex="-1"
     aria-labelledby="deleteProductModalLabel{{ product.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProductModalLabel{{ product.id }}">Confirm
                    Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete "{{ product.name }}"?
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'delete_product' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>