<div class="modal fade" id="editProductModal{{ product.id }}" tabindex="-1"
     aria-labelledby="editProductModalLabel{{ product.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel{{ product.id }}">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'edit_product' product.id %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="editProductName{{ product.id }}">Name</label>
                        <input type="text" class="form-control" id="editProductName{{ product.id }}" name="name" value="{{ product.name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="editProductDescription{{ product.id }}">Description</label>
                        <textarea class="form-control" id="editProductDescription{{ product.id }}" name="description" required>{{ product.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="editProductPrice{{ product.id }}">Price</label>
                        <input type="number" class="form-control" id="editProductPrice{{ product.id }}" name="price" value="{{ product.price }}" required>
                    </div>
                    <div class="form-group">
                        <label for="editProductAmountLeft{{ product.id }}">Amount left</label>
                        <input type="number" class="form-control" id="editProductAmountLeft{{ product.id }}" name="amount_left" value="{{ product.amount_left }}" required>
                    </div>
                    <div class="form-group">
                        <label for="editProductCategory{{ product.id }}">Category</label>
                        <select class="form-control" id="editProductCategory{{ product.id }}" name="category" required>
                            {% for category in category_list %}
                                <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
