{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <link rel="stylesheet" href="{% static 'rating.css' %}">
{% endblock %}

{% block content %}
    <!-- Display messages if there are any -->
    <div class="py-2 text-center">
        <div class="container">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="position-absolute m-3">
                    {% if user.is_product_manager %}
                        <button type="button"
                                class="btn btn-sm btn-outline-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#editProductModal{{ product.id }}">
                            <i class="bi bi-pencil" aria-hidden="true"></i>
                        </button>
                        <!-- Delete button -->
                        <button type="button"
                                class="btn btn-sm btn-outline-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteProductModal{{ product.id }}">
                            <i class="bi bi-trash" aria-hidden="true"></i>
                        </button>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'placeholder_image.svg' %}" alt="{{ product.name }}"
                                 class="img-fluid rounded" style="max-height: 500px;">
                        </div>
                        <div class="col d-flex flex-column justify-content-between">
                            <div>
                                <div class="container mt-3 ">
                                    <h1 class="display-5">{{ product.name }}</h1>
                                </div>
                                <hr>
                                <p>Category: {{ product.category.name }}</p>
                                <p>Total stock: {{ product.amount_left }}</p>
                                <hr>
                                <div class="container text-start">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Product Price -->
                                    <p class="display-2">$ {{ product.price }}</p>
                                    <!-- Ratings and Buttons -->
                                    <div class="flex-grow-1 d-flex flex-column align-items-end">
                                        <!-- Ratings -->
                                        <div class="ratings mb-2">
                                            {% with average=product.average_rating|floatformat:0|add:"0" %}
                                                {% for i in "12345" %}
                                                    {% if forloop.counter <= average %}
                                                        <i class="fa fa-star rating-color"></i>  <!-- Filled star -->
                                                    {% else %}
                                                        <i class="fa fa-star"></i>  <!-- Unfilled star -->
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                            <a href="#reviews-content" data-bs-toggle="tooltip"
                                               data-bs-placement="top" style="text-decoration: none;">
                                            <span class="text-body-secondary"
                                                  id="rating-tooltip">
                                                    ({{ product.review_set.count }})
                                            </span>
                                            </a>

                                            <div id="reviews-content" style="display:none;">
                                                {% for review in product.review_set.all %}
                                                    <div>
                                                        <strong>{{ review.customer.username }}</strong>
                                                        ({{ review.created_at|date:"Y-m-d" }}):
                                                        <br>{{ review.review_text }}
                                                        <br>Rating: {{ review.rating }}/5
                                                        <hr>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!-- Buttons -->
                                        <div>
                                            <form method="post" action="{% url 'review' product.id %}"
                                                  style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-warning me-2">Review</button>
                                            </form>
                                            </button>
                                            <form method="post" action="{% url 'add_to_cart' product.id %}"
                                                  style="display: inline;">
                                                {% csrf_token %}
                                                {% if user.is_customer or not user.is_authenticated %}
                                                    {% if not product.deleted %}
                                                        <button type="submit" class="me-2 btn btn-primary">
                                                            Add to Cart
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="me-2 btn btn-secondary" disabled>
                                                            Not available
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        {% if product.review_set.count > 0 %}
            <div class="col">
                <h2>Reviews</h2>
                <hr>
                <div class="container">
                    {% for review in product.review_set.all %}
                        {% include 'products/product_review.html' with review=review %}
                    {% endfor %}
                </div>
            </div>
            </div>
        {% else %}
            <div class="col">
                <h2>No reviews yet</h2>
            </div>
        {% endif %}
    {% include 'products/product_modal_delete.html' with product=product %}
    {% include 'products/product_modal_edit.html' with product=product category_list=category_list %}
{% endblock %}

{% block extra_js %}
{% endblock %}
