{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <link rel="stylesheet" href="{% static 'rating.css' %}">
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="mb-0">Cart - {{ total_items }} total items</h4>
                    </div>
                    <div class="card-body">
                        {% for product, details in cart_items.items %}
                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3 pb-3">
                                <div class="mx-2">
                                    <h5 class="card-title text-center">{{ product.name }}</h5>

                                    <img src="{% static 'placeholder_image.svg' %}" class="card-img-top"
                                         alt="{{ product.name }}" style="width: 200px; height: 200px;">
                                </div>
                                <p class="card-text text-start">
                                    {{ product.description }}
                                </p>

                                <div class="d-flex align-items-center">
                                    <form method="POST" action="{% url 'decrease_cart_quantity' product.id %}"
                                          class="me-2">
                                        {% csrf_token %}
                                        <button type="submit" id="{{ product.id }}-decrease"
                                                class="btn btn-outline-secondary btn-sm">-
                                        </button>
                                    </form>
                                    <input type="number" id="{{ product.id }}-quantity" name="quantity" disabled="true"
                                           class="form-control form-control-sm" style="width: 60px;"
                                           value="{{ details.quantity }}">
                                    <form method="POST" action="{% url 'increase_cart_quantity' product.id %}"
                                          class="mx-2">
                                        {% csrf_token %}
                                        <button type="submit" id="{{ product.id }}-increase"
                                                class="btn btn-outline-secondary btn-sm">+
                                        </button>
                                    </form>
                                    <form method="POST" action="{% url 'remove_from_cart' product.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        Expected Delivery
                    </div>
                    <div class="card-body">
                        <p class="card-text">Your order is expected to be delivered by {{ delivery_date }}</p>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        We Accept
                    </div>
                    <div class="card-body text-start">
                        <img src="{% static 'visa.svg' %}" alt="Visa" style="width: 50px;" class="me-3">
                        <img src="{% static 'mastercard.svg' %}" alt="MasterCard" style="width: 50px;" class="me-3">
                        <img src="{% static 'amex.svg' %}" alt="American Express" style="width: 50px;" class="me-3">
                        <img src="{% static 'paypal.svg' %}" alt="PayPal" style="width: 50px;" class="me-3">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-3">
                    <div class="card-header">
                        Summary
                    </div>
                    <div class="card-body">
                        <p>Total Price: ${{ total_price }}</p>
                        <p>Shipping: Free</p>
                        <p>Total Amount: ${{ total_amount }}</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#confirmOrderModal">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirmOrderModal" tabindex="-1" aria-labelledby="confirmOrderModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmOrderModalLabel">Confirm Order</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to place this order?
                        </div>
                        <div class="modal-footer">
                            <form method="POST" action="{% url 'create_order' %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Confirm Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
