{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <link rel="stylesheet" href="{% static 'rating.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                Orders Overview
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr class="table-row">
                        <th>Order status</th>
                        <th>Total items</th>
                        <th>Expected delivery date</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Customer</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.orderstate_set.last.state }}</td>
                            <td>{{ order.orderproduct_set.count }}</td>
                            <td>{{ order.expected_delivery|date:"Y-m-d H:i" }}</td>
                            <td>{{ order.address }}</td>
                            <td>{{ order.city }}</td>
                            <td>{{ order.customer.username }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                        data-bs-target="#editOrderModal{{ order.id }}">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#deleteOrderModal{{ order.id }}">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Edit Order Modal -->
    {% for order in orders %}
        {% include 'manage_orders/_order_modal_edit.html' %}
        {% include 'manage_orders/_order_modal_delete.html' %}
    {% endfor %}
{% endblock %}

{% block extra_js %}
{% endblock %}
