{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <link rel="stylesheet" href="{% static 'rating.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                Employee Management
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#createEmployeeModal">
                        Add Employee
                    </button>
                    <form action="{% url 'manage_employees' %}" method="get" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search employees"
                               aria-label="Search"
                               name="search_query">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr class="table-row">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ employee.first_name }}</td>
                            <td>{{ employee.last_name }}</td>
                            <td>{{ employee.username }}</td>
                            <td>{{ employee.telephone }}</td>
                            <td>{{ employee.address }}</td>
                            <td>{{ employee.city }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                        data-bs-target="#editEmployeeModal{{ employee.id }}">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#deleteEmployeeModal{{ employee.id }}">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        {% include 'manage_employees/_employee_modal_delete.html' with employee=employee %}
                        {% include 'manage_employees/_employee_modal_edit.html' with employee=employee %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'manage_employees/_employee_modal_create.html' %}
{% endblock %}

{% block extra_js %}
{% endblock %}
