{% extends 'global/base.html' %}
{% load custom_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <link rel="stylesheet" href="{% static 'rating.css' %}">
{% endblock %}

{% block content %}
<div class="container">
        <!-- Order Details Card -->
        <div class="card mb-3">
            <div class="card-header">
                Order Details
            </div>
            <div class="card-body">
                <h5 class="card-title">Order #{{ order.id }}</h5>
                <p class="card-text">Expected Delivery: {{ order.expected_delivery }}</p>
                <p class="card-text">Address: {{ order.address }}, {{ order.city }}</p>
                <p class="card-text">Order State: {{ order.orderstate.state }} (Last
                    updated: {{ order.orderstate.created_at }})</p>
            </div>
        </div>

        <!-- Order Items Card -->
        <div class="card">
            <div class="card-header">
                Order Items
            </div>
            {% for item in order.orderproduct_set.all %}
                <div class="row mt-2">
                    <div class="col-md-4 d-flex justify-content-center">
                        <!-- Assuming a placeholder image; update path as needed -->
                        <img src="{% static 'placeholder_image.svg' %}" alt="{{ item.product.name }}"
                             class="img-fluid rounded" style="max-height: 200px;">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-between">
                        <div>
                            <h3 class="mt-2">{{ item.product.name }}</h3>
                        </div>
                        <div>
                            <p><strong>Quantity:</strong> x{{ item.amount }}</p>
                            <p><strong>Price per item:</strong> ${{ item.price_per }}</p>
                            <p><strong>Total:</strong> ${{ item.amount |multiply:item.price_per }}</p>
                        </div>
                    </div>
                <hr>
                </div>
            {% empty %}
                <p>No products in this order.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
