{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <link rel="stylesheet" href="{% static 'rating.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    All Orders Overview
                </div>
                <div class="card-body">
                    {% for order in orders %}
                        <div class="row g-0 mb-3">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="
                                        {% if order.state == 'Finished' %}{% static 'finished.svg' %}{% elif order.state == 'Shipping' %}{% static 'delivering.svg' %}{% else %}{% static 'processing.svg' %}{% endif %}"
                                     class="img-fluid rounded-start" alt="Order State" width="100" height="100">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Order #{{ order.id }}</h5>
                                    <p class="card-text">Expected Delivery: {{ order.expected_delivery }}</p>
                                    <p class="card-text"><small class="text-muted">Last
                                        updated {{ order.state.created_at }}</small></p>
                                    <a href="{% url 'order_details' order.id %}" class="btn btn-primary">View
                                        Details</a>
                                </div>
                            </div>
                        </div>
                        {% if not forloop.last %}
                            <hr> <!-- Divider between orders -->
                        {% endif %}
                    {% endfor %}
                    {% if orders.count == 0 %}
                        <div class="alert alert-warning" role="alert">
                            No orders found.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
