{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <link rel="stylesheet" href="{% static 'rating.css' %}">
{% endblock %}

{% block content %}
     <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                Manage Categories
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#createCategoryModal">
                        Add Category
                    </button>
                    <form action="{% url 'manage_categories' %}" method="get" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search Categories"
                               aria-label="Search"
                               name="search_query">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                        data-bs-target="#editCategoryModal{{ category.id }}">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#deleteCategoryModal{{ category.id }}">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modals should ideally be placed outside of repetitive loops and tables for better organization and performance -->
        {% for category in categories %}
            <!-- Edit Category Modal -->
            {% include 'manage_categories/_category_modal_edit.html' with category=category %}
            {% include 'manage_categories/_category_modal_delete.html' with category=category %}
        {% endfor %}
    </div>
    {% include 'manage_categories/_category_modal_create.html' %}
{% endblock %}

{% block extra_js %}
{% endblock %}
